doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='lib/bootstrap/bootstrap.css', media='screen')
		link(rel='stylesheet', href='lib/bootstrap/bootstrap-combobox.css', media='screen')
		link(rel='stylesheet',href='lib/ng-grid/ng-grid.min.css')
		link(rel='stylesheet',href='lib/ng-table/ng-table.css')
		link(rel='stylesheet',href='lib/font-awesome/css/font-awesome.min.css')
		link(href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css", rel="stylesheet")
		link(href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.blueopal.min.css" ,rel="stylesheet")
		link(href="lib/ReportViewer/styles/ReportViewer-8.0.14.225.css", rel="stylesheet")
		link(rel='stylesheet',href='css/sb-admin.css')
		link(rel='stylesheet',href='css/pagination.css')
		link(rel='stylesheet', href='css/login.css')


	body(ng-app="reitz",ng-controller='navCtrl')
		div#wrapper
		ng-view
		script(src="lib/jquery/jquery.js")
		script(src="lib/jquery-ui/jquery-ui.js")
		script(src="lib/angular/angular.js")
		script(src="lib/angular-cookies/angular-cookies.js")
		script(src="lib/angular-bootstrap/ui-bootstrap-tpls.js")
		script(src="lib/angular-resource/angular-resource.js")
		script(src="lib/angular-route/angular-route.js")
		script(src='lib/ng-grid/ng-grid.min.js')
		script(src='lib/ng-table/ng-table.js')
		script(src='lib/ng-table/ng-table-export.src.js')
		//script(src='js/sample.js')
		script(src='lib/highcharts/highcharts.src.js')
		script(src='lib/highcharts/modules/exporting.src.js')
		script(src="lib/bootstrap/bootstrap.js")
		script(src="lib/bootstrap/bootstrap-combobox.js")
		script(src="lib/jquery.metisMenu.js")
		script(src="lib/lodash/lodash.compat.js")
		script(src="http://cdn.kendostatic.com/2013.2.918/js/kendo.all.min.js")
		script(src="lib/ReportViewer/js/ReportViewer-8.0.14.225.min.js")
		script(src="js/app.js")
		script(src="js/ProjectDataService.js")
		script(src="js/AuthenticationService.js")
		script(src="js/CustomerLoginController.js")
		script(src="js/CustomerHomeController.js")
		script(src="js/CreateUser.js")
		script(src="js/CustomerProjectsListController.js")
		script(src="js/createResistantCoefficientsCtrl.js")
		script(src="js/ReitzResource.js")
		script(src="js/controller.js")
		script(src="js/ReportController.js")
		script(src="js/ChartService.js")
		script(src="js/ProjectDataController.js")
		script(src="js/OperatingPointsController.js")
		script(src="js/fanAssemblingController.js")
		script(src="js/materialControlController.js")
		script(src="js/noiseDataController.js")
		script(src="js/createImpellerScantllingsCtrl.js")
