body{
    background: white ;
    /*background:url( '../images/bluebg.png');*/
    /*background-size: 90% 100%;*/
}
a{
    text-decoration:none;
}
#content{
    /*margin-top:100px;*/
}
.navbar-nav>li{
    padding: 15px 0px;
}
/*#table{
    height: 500px !important;
    overflow: scroll;
}*/
#login {
    position: relative;
    padding: 32px 25px 50px 25px;
    margin:100px auto;
    background-color: #FFF;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65);
    width:445px;
}
#login h3{
    font-weight: 600;
    color: chocolate;
    margin-bottom: 30px !important;
}
#login #login-form label:not(.radio-inline) {
    display: none;
}
#login #login-form .form-control {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.action_Name{
    margin-top: -200px;
    margin-left: 90px;
    text-decoration: none;
    color: #ffffff;
}
/*overridden css*/
.carousel-control.right,.carousel-control.left{
    background-image: none !important;
}

.circle {
    width:50px;height:50px;border-radius:50px;
}
.btn-circle {
    width: 50px;
    margin-right: 4px;
    margin-top: 6px;
    height: 33px;
    /*padding: 0px 3px;*/
    /* border-radius: 25px;*/
    font-size: 13px;
    line-height: 1.33;
}
.btn.btn-primary.active {
    background-color: #47a447;
    color: white;
    border-color: #47a447;
}

.chart {
    float:right;
    width: 60%;
    height:500px;
}

#actions{
    margin-left: 50px;
}
#actions h3{
    margin-left: 50px;
}

.navbar .collapse {
    border-top: opx !important;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    /*width: 400px;*/
    height: 300px;
}
#btnprve{
    margin-top: 11px;
}
.report-img{
    height: 25px;
    border: 0;
}
.btnmodal{
    margin-top: -9px !important;
}
.modal-dialog {
    width: 80%;
    height: 92%;
    /*display: block;*/
    padding: 0;
}

.spinner{
    background: url(../images/ajax-loader.gif) no-repeat center center;
    height: 200px;
    width: 100%;
    margin: 115px auto;
    padding: 10px 0px 10px 0px;
}
.op{
    height:130px;
    width: 130px;
    border-radius: 99px;
    background-color: #428bca;
    color: white;
    margin: 5px;
    float: left;
}

.opSpan{
    line-height: 9;
    text-align: center;
    margin-left: 12px;
}
#operatingPoint label{
    margin-bottom: 17px;
}
.navbar-default {
    height: 85px;
    background-color: #ffffff !important;
}
.dropdown-menu{
    min-width:105px !important;
}

/*div.col-lg-2.horizontal-slide {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
    /*overflow-x: auto;*/
/*}*/

/*ul.horizontal-slide li[class*="span"] {*/
    /*display: inline-block;*/
    /*float: none;*/
/*}*/

/*ul.horizontal-slide li[class*="span"]:first-child {*/
    /*margin-left: 0;*/
/*}*/
/*#table{*/
    /*height: 500px !important;*/
    /*overflow: scroll;*/
/*}*/
div.span3 {
    /*height: 500px !important;*/
    max-width: 650px !important;
    /*overflow:scroll;*/
    overflow-x: auto;
    /*overflow-y: hidden;*/
    white-space : nowrap;
}
div.ops{
    width:140px;
    float: none;
    display: inline-block;
}
div.setposition{
    float: left;
    display: inline-block;
}
.sideTitle{
    position: absolute;
    margin-top: 88px;
}
#rivent{
    margin-left:100px;
    margin-top: -1px;

}