ng-include(src="'views/nav.html'")
div#page-wrapper
	div.row
		div.col-lg-12
			div(style='height:100;width:100;opacity:0.6',ng-show="loading")
				div(class="spinner")
			div(ng-hide='loading')
				br
				div.row.pull-right(ng-show='state=="new"')
					a(class='btn btn-primary', ng-click='saveProjectInfo()') Save

				div.col-sm-4
					highchart(chart='{{renderChart.barChart}}')
				div.col-sm-4.col-sm-offset-1
					highchart(chart='{{renderChart.lineChart}}')

				div.row

					.col-sm-11
						table(ng-hide='loading',ng-table='tableParams',class='table table-hover table-striped table-bordered',show-filter='true')
							tbody(ng-repeat='rivent in $data')
								tr
									td
										a(href='',ng-click='rivent.$hideRows = !rivent.$hideRows;getRow(rivent,$index,$element)')
											span.glyphicon(ng-class=" { 'glyphicon-chevron-right': !rivent.$hideRows, 'glyphicon-chevron-down': rivent.$hideRows }")
									td
										a(href='',ng-click='getRievent(rivent,$index)')
											img.report-img(ng-src='./images/report.png')
									//td(sortable="'Series'",data-title="'Series'",header-class="text-middle",filter="{'Series':'text'}") {{rivent.Series}}
									//td(sortable="'BladeAngle'",data-title="'BladeAngle'",filter="{'BladeAngle':'text'}") {{rivent.BladeAngle}}
									td(sortable="'Nomenclature'",data-title="'Nomenclature'",filter="{'Nomenclature':'text'}") {{rivent.Nomenclature}}
									td(sortable="'NominalSize'",data-title="'NominalSize'",filter="{'NominalSize':'text'}") {{rivent.NominalSize}}
									td(data-title="'OperatingPoint'",filter="{'OperatingPoint':'text'}") {{rivent.OperatingPoint}}
									td(sortable="'Efficiency'",data-title="'Efficiency'",filter="{'Efficiency':'text'}") {{rivent.Efficiency | number: 1}}
									td(sortable="'OuterBladeDiameter'",data-title="'OuterDiameter'",filter="{'OuterBladeDiameter':'text'}") {{rivent.OuterBladeDiameter}}
									//td(sortable="'TipSpeed'",data-title="'TipSpeed'",filter="{'TipSpeed':'text'}") {{rivent.TipSpeed | number: 1}}
									td(sortable="'FanSpeed'",data-title="'FanSpeed'",filter="{'FanSpeed':'text'}") {{rivent.FanSpeed | number: 1}}
									td(data-title="'FanShaftPower'",filter="{'FanShaftPower':'text'}") {{rivent.FanShaftPower | number: 1}}
								tr(ng-if='rivent.$hideRows')
									td(colspan='{{$columns.length}}')
										tabset
											tab(heading='Pressure')
												fieldset.col-sm-7.col-sm-offset-2(class="row")
													div.row
														label.control-label.col-sm-7 Total Pressure Difference(Pa):
														div.col-sm-4
															span {{rivent.TotalPressureDifference |number:1}}
													div.row
														label.control-label.col-sm-7 Dynamic Pressure at Inlet(Pa):
														div.col-sm-4
															span {{rivent.DynamicPressureAtInlet |number:1}}
													div.row
														label.control-label.col-sm-7 Dynamic Pressure at Outlet(Pa):
														div.col-sm-4
															span {{rivent.DynamicPressureAtOutlet |number:1}}
													div.row
														label.control-label.col-sm-7 Dynamic Pressure Evase Outlet(Pa):
														div.col-sm-4
															span {{rivent.DynamicPressureEvaseOutlet |number:1}}
													div.row
														label.control-label.col-sm-7 KinematicViscocity(m^2/s):
														div.col-sm-4
															span {{rivent.KinematicViscocity |number:5}}

											tab(heading='Speed')
												fieldset.col-sm-5.col-sm-offset-1(class="row")
													div.row
														label.control-label.col-sm-9 Tip Speed(m/s):
														div.col-sm-3
															span {{rivent.TipSpeed | number:1}}
													div.row
														label.control-label.col-sm-9 Motor Speed(rpm):
														div.col-sm-3
															span {{rivent.MotorSpeed }}
													div.row
														label.control-label.col-sm-9 Speed at Lowest Garantee Point:
														div.col-sm-3
															span {{rivent.SpeedAtLowestGuaranteePoint | number:1}}
													div.row
														label.control-label.col-sm-9 Speed at Highest Guarantee Point:
														div.col-sm-3
															span {{rivent.SpeedAtHighestGuaranteePoint | number:1 }}
													div.row
														label.control-label.col-sm-9 Fan Speed:
														div.col-sm-3
															span {{rivent.FanSpeed | number:1}}
													div.row
														label.control-label.col-sm-9 Fan Shaft Power:
														div.col-sm-3
															span {{rivent.FanShaftPower | number:1}}

												fieldset.col-sm-4
													div.row(ng-show='editMode1')
														label.control-label.col-sm-7 New Diameter:
														div.col-sm-4
															span {{rivent.OuterBladeDiameter1 | number:1}}
													div.row
														label.control-label.col-lg-7 Select Fan Speed:
														div.col-lg-5
															select.form-control(ng-model='data.FanSpeed',ng-change='editMode1 =true;backplateedit =true;shroudedit =true; bladesedit =true;impelleredit=true;changeDia(data,$index);')
																option 490
																option 590
																option 705
																option 740
																option 880
																option 980
																option 1175
																option 1470
																option 1760
																option 2500
																option 3500
											tab(heading='Power')
												fieldset.col-sm-6.col-sm-offset-2(class="row")
													div.row
														label.control-label.col-sm-7 Motor Power(kW):
														div.col-sm-3
															span {{rivent.MotorPower }}
													div.row
														label.control-label.col-sm-7 Recommended Motor Power(kW):
														div.col-sm-3
															span {{rivent.RecommendedMotorPower | number:1}}
													div.row
														label.control-label.col-sm-7 Dampening Value:
														div.col-sm-3
															span {{rivent.DampeningValue | number:1}}


											tab(heading='Blade')
												fieldset.col-sm-6.col-sm-offset-2(class="row")
													div.row
														label.control-label.col-sm-8 Number Of Blade Cuts:
														div.col-sm-4
															span {{rivent.NumberOfBladeCuts }}
													div.row
														label.control-label.col-sm-8 Number Of Blade Extensions:
														div.col-sm-4
															span {{rivent.NumberOfBladeExtensions }}
													div.row
														label.control-label.col-sm-8 NominalOuter Blade Diameter(mm):
														div.col-sm-4
															span {{rivent.NominalOuterBladeDiameter | number:1}}
											tab(heading='Noises',ng-show='postdata.MaterialDriveControls.NoiseDataRequired')
												fieldset.col-sm-10.col-sm-offset-2(class="row")
													div.row
														label.control-label.col-sm-7 Blade Passage Frequency I-III At Operating Point No.{{rivent.OperatingPoint}}(Hz):
														div.col-sm-1
															span {{rivent.BladePassageFrequency1_111 | number:1}}

													div.row
														//label.control-label.col-sm-7 Blade Passage Frequency 2(Hz):
														div.col-sm-1.col-sm-offset-7
															span {{rivent.BladePassageFrequency1_111_2 | number:1 }}
													div.row
														//label.control-label.col-sm-7 Blade Passage Frequency 3(Hz):
														div.col-sm-1.col-sm-offset-7
															span {{rivent.BladePassageFrequency1_111_3 | number:1 }}
											tab(heading='Impeller Scantllings')
												br
												div.row
													fieldset.col-sm-6.col-sm-offset-1(class="row")
														div.row
															label.control-label.col-sm-5 Back Plate:
															div.col-sm-5
																span {{rivent.BackPlate }}
																span   ({{rivent.StandardBackPlate}} mm)
														div.row
															label.control-label.col-sm-5 Shroud Plate:
															div.col-sm-5
																span {{rivent.ShroudPlate }}
																span   ({{rivent.StandardShroud}} mm)
														div.row
															label.control-label.col-sm-5 Blades:
															div.col-sm-5
																span {{rivent.Blades  }}
																span   ({{rivent.StandardBlade}} mm)

														div.row
															label.control-label.col-sm-5 Hub:
															div.col-sm-5
																span {{rivent.Hub  }}
														div.row
															label.control-label.col-sm-5 Weight of Impeller:
															div.col-sm-5
																span {{rivent.Total }}
														div.row
															label.control-label.col-sm-5 GD^2:
															div.col-sm-5
																span {{rivent.oldGD2 }}
														div.row
															label.control-label.col-sm-5 Weight of inlet:
															div.col-sm-5
																span {{inletweight.InletBoxSizes}}
														div.row
															label.control-label.col-sm-5  Bearing Span:
															div.col-sm-5
																span {{rivent.bearingSpan }}
														div.row
															label.control-label.col-sm-5  Shaft Dia at Hub:
															div.col-sm-5
																span {{rivent.old_shafthub }}
														div.row
															label.control-label.col-sm-5  Shaft Dia at Brg:
															div.col-sm-5
																span {{rivent.old_shaftbrg }}
														div.row
															label.control-label.col-sm-5  Shaft at Wt.Forging:
															div.col-sm-5
																span {{rivent.old_wtForging }}
														div.row(ng-hide='+postdata.MaterialDriveControls.Width == 2')
															label.control-label.col-sm-5  Liners Required
															div.col-sm-5
																input(type='checkbox',ng-model='linersRequired')
													fieldset.col-sm-5
														div.row
															label.control-label.col-sm-5 BackPlate(Thickness):
															div.col-sm-5
																select.form-control.col-sm-6(ng-model="seriesBackplate",ng-options="c.Backplate_mm for c in ImpScl",ng-change="selectedBackPlate(seriesBackplate,$index);backplateedit=true;impelleredit=true")
														div.row
															label.control-label.col-sm-5  Shroud(Thickness):
															div.col-sm-5
																select.form-control.col-sm-6(ng-model="seriesShroudplate",ng-options=" c.Backplate_mm for c in ImpScl",ng-change="selectedShroudPlate(seriesShroudplate,$index);shroudedit=true")
														div.row
															label.control-label.col-sm-5  Blade(Thickness):
															div.col-sm-5
																select.form-control.col-sm-6(ng-model="seriesBlade",ng-options=" c.Backplate_mm for c in ImpScl ",ng-change="selectedBlade(seriesBlade,$index);bladesedit=true")

														div.row
															label.control-label.col-sm-5   Weight of inlet:

															div.col-sm-5
																select.form-control(ng-model="selectedItem",ng-options="c.InletBoxSizes for c in inletBoxSizes ",ng-change="update(rivent,selectedItem,$index)")
												br
												div.row
													fieldset.col-sm-5.col-sm-offset-1(ng-show='linersRequired')

														div.row

															label.control-label.col-sm-3.col-sm-offset-4 Linear:

															label.control-label.col-sm-3 Percentage:

														div.row
															label.control-label.col-sm-4 Liner:
															div.col-sm-3
																select.form-control(ng-model="selectedLinear",ng-change='calculateLiner(selectedLinear,selectedPercentage,$index)')
																	option 1.5
																	option 3
																	option 4
																	option 6
																	option 8
															div.col-sm-3
																select.form-control(ng-model="selectedPercentage",ng-change='calculateLiner(selectedLinear,selectedPercentage,$index);calculateWearPlate(selectedID,selectedOD,selectedLinear,$index)')
																	option 0.1
																	option 0.2
																	option 0.3
																	option 0.4
																	option 0.5
																	option 0.6
																	option 0.7
																	option 0.8
																	option 0.9
																	option 1
															div.col-sm-1
																span {{rivent.liner | number:1}}

														div.row

															label.control-label.col-sm-3.col-sm-offset-4 OD^2:

															label.control-label.col-sm-3  ID^2:

														div.row
															label.control-label.col-sm-4 Wear Plate :
															div.col-sm-3
																input.form-control(type='text',ng-model="selectedID",ng-change='calculateWearPlate(selectedID,selectedOD,selectedLinear,$index)')
															div.col-sm-3
																input.form-control(type='text',ng-model="selectedOD",ng-change='calculateWearPlate(selectedID,selectedOD,selectedLinear,$index)')
															div.col-sm-1
																span {{rivent.wearPlate}}

													fieldset.col-sm-6
														div.row(ng-show='backplateedit')
															label.control-label.col-sm-5 New BackPlate:
															div.col-sm-4
																span {{rivent.backPlate1 }}
														div.row(ng-show='shroudedit')
															label.control-label.col-sm-5 New Shroud Plate:
															div.col-sm-4
																span {{rivent.shroudPlate1 }}
														div.row(ng-show='bladesedit')
															label.control-label.col-sm-5 New Blades :
															div.col-sm-4
																span  {{rivent.blades1}}
														div.row(ng-show='impelleredit')
															label.control-label.col-sm-5 New Hub :
															div.col-sm-4
																span  {{rivent.hub1 }}
														div.row(ng-show='impelleredit')
															label.control-label.col-sm-5 Weight of Impeller:
															div.col-sm-4
																span  {{rivent.Total1 }}
														div.row(ng-show='impelleredit')
															label.control-label.col-sm-5 New GD^2 :
															div.col-sm-4
																span  {{rivent.newGD2 }}

														div.row(ng-show='impelleredit')
															label.control-label.col-sm-5  New Shaft Dia Hub:
															div.col-sm-5
																span {{rivent.shafthub }}
														div.row(ng-show='impelleredit')
															label.control-label.col-sm-5  New Shaft Dia Brg:
															div.col-sm-5
																span {{rivent.shaftbrg }}
														div.row(ng-show='impelleredit')
															label.control-label.col-sm-5  New Shaft Wt.Forging:
															div.col-sm-5
																span {{rivent.wtForging }}


